.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
html, body {
    /*padding-top: 20px;
    padding-bottom: 20px;*/
   height:100%;
   width:100%;
}

body.gray {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #999;
    background: -webkit-radial-gradient(circle farthest-side, #333, #111);
    background: -moz-radial-gradient(circle farthest-side, #333, #111);
    background: radial-gradient(circle farthest-side, #333, #111);
    /*The background-attachment property sets whether a background image is fixed or scrolls with the rest of the page.*/
    background-attachment: fixed; 
}

#toolbar {
    /*margin-left: auto;
    margin-right: auto;*/
    min-height: 50px;
    width: 100%;
    background-color: #000033;
    vertical-align: top;
    z-index: 9999;
    visibility: hidden;
}



#container {
    width: 100%;
}
#filterByName {
    margin:1%;
    width: 48%;

    /*margin-left: auto;
    margin-right: auto;
    width: auto;*/
    
    vertical-align: left;
}
#filterByDistance {
    margin:1%;
    width: 46%;

   /* margin-left: auto;
    margin-right: auto;
    width: auto;*/
    
    vertical-align: right;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.item { 
    width: 31%;
    height: auto;
    margin:1%;
    background-color: #FFF;
}

.item:active{ 

    background-color: #dfdfff;
}

.item.w2 { 
    width: 66%;
    height: auto;
    padding:2px; 
}

.item img{ 
    width: 100%;
    height: auto;
    padding:5%;    
}

.item p{ 

    padding: 5%;
    /*color: #FFF;
    background-color: #0AA;*/
    color: #000033;
}

.item p.distance{ 

    color: #555;
}


/*Spinner customization*/
h2 {
    color: #ccc;
    border-radius: 6px;
    margin: 0;
    margin-bottom: 20px;
    font: 1em verdana;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
}

.loading-container{
    
    margin-top: 50%;
}
.loading{
    
    width: 122px;
    margin: 0 auto;
}

.loading span {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .2em;
    background: #007DB6;
    border-radius: .6em;
    -webkit-animation: loading 1s infinite alternate;
}
.loading span:nth-of-type(2) {
    background: #008FB2;
    -webkit-animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
    background: #009B9E;
    -webkit-animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
    background: #00A77D;
    -webkit-animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
    background: #00B247;
    -webkit-animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
    background: #5AB027;
    -webkit-animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
    background: #A0B61E;
    -webkit-animation-delay: 1.2s;
}
@-webkit-keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}