<?xml version='1.0' encoding='utf-8'?>
<widget id="mobi.designmyapp.template.sample.cordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SampleCordova</name>
  <description>
    A sample Apache Cordova application that display list of items from http://public.opendatasoft.com/.
  </description>
  <author email="ebiz@ebusinessinformation.fr" href="http://ebusinessinformation.fr/">
    eBusiness Information
  </author>
  <content src="index.html"/>
  <access origin="*"/>
</widget>
